#Banner {
    height: 90vh;
    background: linear-gradient(to right, orangered,brown);    
}
main{
    background: linear-gradient(to right, orangered,brown); 
}
.bg{
    z-index: 1000;
}
p{
    color:rgb(175, 175, 175);
}
@media screen and (min-width:577px) and (max-width: 1024px){
#Banner{
        height: 50vh !important;
    }.fs{
        font-size: 60px;
    }
}@media screen and (max-width:576px){
#Banner_item{
        height: 45vh !important;
        
    }#select{
        display:none !important;
    }.fs{
        font-size: 40px;
    }
}
@media screen and (min-width:1024px){
     .fs{
        font-size: 90px;
    }
}